@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  background: #000000 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: #000000;
}

::-webkit-scrollbar-corner {
  background: #000000;
}

#content-wrapper::-webkit-scrollbar-thumb {
  background-color: -o-linear-gradient(bottom, #000, #272727);
  background-color: linear-gradient(
    0deg,
    #000,
    #272727
  ); /* s the background color of content-wrapper */
}

#content-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: gray;
}
