.blocker {
  position: relative;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000),
    to(#000)
  );
  background: #000;
  /* background: -o-linear-gradient(bottom, #000, #272727); */
  /* background: linear-gradient(0deg, #000, #272727);; */
  border-radius: 30px;
}

.blocker:before,
.blocker:after {
  content: "";
  position: absolute;
  left: -2px;
  border-radius: 30px;
  top: -2px;
  background: -o-linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  -webkit-animation: steam 20s linear infinite;
  animation: steam 20s linear infinite;
}

@-webkit-keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.blocker:after {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  border-radius: 30px;
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  border-radius: 30px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
